<div class="modal-body">
  <%= form_for([@question, @comment]) do |f| %>
  <div class="col-lg-12 form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control mt-2 mb-2" %>
    <%= f.submit "Update Comment", class: "btn btn-warning mt-2 mb-2" %>
  </div>
  <% end %>
</div>
