<div class="modal-body">
  <%= form_with(modal: @comments) do |form| %>
  <div class="col-lg-12 form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control mt-2 mb-2" %>
    <%= form.submit "Update Comment", class: "btn btn-warning mt-2 mb-2" %>
  </div>
  <% end %>    
</div>








<!-- <h1>Edit Comment</h1>
<%#= form_for([@question, @comment]) do |f| %>
<div class="col-lg-4 form-group">
  <%#= f.label :title %>
  <%#= f.text_field :title, class: "form-control mt-2 mb-2" %>
  <%#= f.submit "Update Comment", class: "btn btn-warning mt-2 mb-2" %>
</div> -->
<%# end %>
