<div class="container">
	<%= form_with(model: commentable.comments.build, url: polymorphic_path([commentable, :comments])) do |f| %>
	<div class="form-group">
		<%= f.text_area :title, class:"form-control mt-3 mb-3", placeholder: "Add a comment" %>
	</div>
	<%= f.submit "Submit", class: "btn btn-primary" %>
	<% end %>
</div>
