<div class="col-lg-12 mt-4 mb-4">
  <div class="card shadow">
    <div class="card-body">
      <div class="card-tittle">
        <h1>Edit Question</h1>
      </div>
      <%= render 'form', question: @question %>
    </div>
  </div>
</div>

