
<div class="col-lg-8 mx-auto">
	<div class="card">
		<div class="card-body">
			<h2 class="card-title text-center">Subsription Plan</h2>
		</div>
	</div>
	<div class="row">
		<% @plans.each do |plan| %>
		<div class="col-lg-6">
			<ul class="list-group">
				<li class="list-group-item mt-3 mb-3" aria-current="true"> 
					<div class="mb-2 ">
						<strong> <%= plan.name  %> </strong> 
					</div>
					<div class="mb-2">
						<strong> <%= plan.price  %> </strong> 
					</div>
					<%= link_to 'View Plan', plan, class: 'btn btn-primary btn-sm' %>
				</li>
			</ul>
		</div>
		<% end -%>
	</div>	
</div>